<div class="container-fluid condent">
 <div class="row ">
  <div class="col-sm ">
	  <div class="input-group input-group-sm mb-3">
	    <div class="input-group mb-3" id="input" >
		<input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" (input)="value($event)"  placeholder="Enter City Name Here" autofocus >
	    </div>
        <div id="button1">
		  <button class="btn btn-primary button" type="submit" (click)='hello()'>Search</button>
	      <br>
	      <br>
	    </div>
    </div>
  </div>
  <div class="row ">
	<div class="col-sm ">
	  <div id="button2">
		<p class="tem">  Temperature(°C):   <b>{{temperature| json |number:'2.2-2'}}</b></p>
		<p class="hum">  Humidity(%):   <b>{{humidity | json}}</b></p> 
	  </div>
    </div>
  </div>
</div>


 