<div  class="container-fluid first" >
    <div class="row">
   
        <div class="col-sm header">
            <ul>
               <li ><button class="btn2"  (click)="gotovoew3()" >Wᴇᴀᴛʜᴇʀ</button></li>
               <li><button class="btn3"  (click)="gotovoew2()">Nᴇᴡs</button></li>
               <!-- <li><button class="btn4" (click)="gotovoew1()" [hidden]="(form)"></button></li>
               <li title="Register"><button class="btn6" (click)="gotovoew0()"  *ngIf='userrolename == !false'></button></li> -->
            </ul> 
        </div>


  </div>

  <div class="row">
    <div class="container-fluid container">
        <router-outlet></router-outlet>
    </div>
  </div>
  <div class="row fooder">
    <!-- <div class="col-sm "> -->
    <!-- </div> -->
  </div>
</div> 
